<div id="pages_index">
  <% if user_signed_in? %>
  <div class="favorites">
    <h3>Your favorite books</h3>
  </div>
  <% end %>

  <div class="recommendations">
    <h3>You might like those...</h3>
    <div class="book">
      
    </div>
  </div>
</div>
